<?xml version="1.0"?>
<launch>
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch" />

  <include file="$(find baxter_moveit_config)/launch/move_group.launch" />

  <!-- <arg name="config" default="true"/>
  <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch" /> -->

  <include file="$(find baxter_moveit_config)/launch/default_warehouse_db.launch" />

  <!-- RELAY of /robot/joint_states into /joint_states so the state of the robot can be accesed through the moveit api -->
  <node name="relay_node" pkg="topic_tools" type="relay" args="/robot/joint_states /joint_states"/>

</launch>
