<launch>
	<arg name="backup" default="ltm.backup"/>
	<arg name="config_file" default="$(find mdb_common)/config/ltm_two_worlds.yaml"/>
	<arg name="iterations" default="12000"/>
	<arg name="log_level" default="DEBUG"/>
	<arg name="plot" default="False"/>
	<arg name="debug" default="False"/>
	<arg name="plot_arg" value="" unless="$(arg plot)"/>
	<arg name="plot_arg" value="--plot" if="$(arg plot)"/>
	<rosparam file="$(find mdb_common)/config/ros_parameters.yaml"/>
	<group ns="mdb" unless="$(arg debug)">
		<node pkg="mdb_simulator" type="mdb_simulator" name="simulator" args="-c $(arg config_file) -l $(arg log_level)"/>
		<node pkg="mdb_ltm" type="mdb_ltm" name="ltm" args="-b $(arg backup) -s $(arg config_file) -i $(arg iterations) -l $(arg log_level) $(arg plot_arg)"/>
	</group>
	<group ns="mdb" if="$(arg debug)">
		<node pkg="mdb_simulator" type="mdb_simulator" name="simulator" args="-c $(arg config_file) -l $(arg log_level)" launch-prefix="xterm -e python -m pdb"/>
		<node pkg="mdb_ltm" type="mdb_ltm" name="ltm" args="-b $(arg backup) -s $(arg config_file) -i $(arg iterations) -l $(arg log_level) $(arg plot_arg)" launch-prefix="xterm -e python -m pdb"/>
	</group>
</launch>
