<launch>
    <arg name="debug" default="False"/>
    <arg name="launch-prefix" default="" unless="$(arg debug)"/>
    <arg name="launch-prefix" default="winpdb" if="$(arg debug)"/>

    <rosparam file="$(find mdb_common)/config/ros_parameters.yaml"/>

    <arg name="event_sim" default="True"/>
    <arg name="ltm" default="True"/>
    <arg name="motiven" default="False"/>
    <arg name="view" default="False"/>

    <arg name="log_level" default="DEBUG"/>

    <!-- RELAY of /robot/joint_states into /joint_states so the state of the robot can be accesed through the moveit api -->
    <node name="relay_node" pkg="topic_tools" type="relay" args="/robot/joint_states /joint_states" unless="$(arg event_sim)"/>

    <group ns="mdb">
        <arg name="random_seed" default="False"/>
        <arg name="random_seed_arg" value="" unless="$(arg random_seed)"/>
        <arg name="random_seed_arg" value="-rs $(arg random_seed)" if="$(arg random_seed)"/>

        <arg name="config_file" default="$(find mdb_common)/config/ball_in_box_one_world_adapting_pnodes.yaml"/>

        <arg name="backup" default="backup"/>

        <arg name="standalone" default="False"/>
        <arg name="standalone_arg" value="" unless="$(arg standalone)"/>
        <arg name="standalone_arg" value="--standalone" if="$(arg standalone)"/>

        <node name="motiven" pkg="mdb_motiven" type="mdb_motiven" args="-b motiven.$(arg backup) -l $(arg log_level) $(arg standalone_arg)" launch-prefix="$(arg launch-prefix)" if="$(arg motiven)"/>

        <node name="ltm" pkg="mdb_ltm" type="mdb_ltm" args="$(arg random_seed_arg) -b ltm.$(arg backup) -s $(arg config_file) -l $(arg log_level)" launch-prefix="$(arg launch-prefix)" required="True" if="$(arg ltm)"/>

        <arg name="save_dir" default="$(find mdb_view)" if="$(arg view)"/>
        <node name="view" pkg="mdb_view" type="mdb_view" args="-s $(arg config_file) -l $(arg log_level) -d $(arg save_dir)" launch-prefix="$(arg launch-prefix)" if="$(arg view)"/>

        <node name="event_sim" pkg="mdb_simulator" type="mdb_simulator" args="$(arg random_seed_arg) -c $(arg config_file) -l $(arg log_level)" launch-prefix="$(arg launch-prefix)" if="$(arg event_sim)"/>
    </group>
</launch>
